/* ----------------------------- */
/*          GLOBAL STYLES        */
/* ----------------------------- */

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #3b82f6, #93c5fd);
}

/* Layout global */
.section-wrapper {
  background: linear-gradient(135deg, #3b82f6 0%, #69a5ff 45%, #e4efff 100%);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 96px 72px 72px; // marge haute par défaut
  gap: 48px;
}
